#APP_SETTINGS
API_PORT=4100

#AUTHORIZATION
JWT_SECRET=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_CDN=

#REDIS
USE_REDIS=yes or no

#THIRD_PARTY_API_ENDPOINTS
SLACK_COINSECT_API=
COINSECT_CHAT=